body {
  margin: auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: white;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 92px 50px 96px;
}

/* .header__menu {} */

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  list-style:circle;
}

.header__links-list-item .link_active {
  text-decoration: none;
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  text-transform:lowercase;
}

.header__logo { 
  display: block;
  width: 148px;
  min-height: 105px;
}

/* .header__logo-image {} */

.header__address {
  display: block;
  min-width: 240px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  justify-self: end;
}

.tel-kostyl {
  text-underline-offset: 4px;
}

.main {
  display: block;
  position:relative;
  padding: 0;
  margin: 0;
}

.overlay {
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 0;
  min-height: 757px;
  /*background-color: #00000099;
  opacity: 60%;*/
}

.cover__title {
  display: block;
  position: relative;
  z-index: 1;
  padding: 165px 50px 207px;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  line-height: 115px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  line-height: 115px;
  text-transform: uppercase;
}

.aligned-text_right {
  display: block;
  text-align: right;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  line-height: 115px;
  text-transform: uppercase;
}

/*.letter-spacing-extended {}*/

/*.no-letter-spacing {}*/

.cover__description {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items:center;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  display: flex;
  flex-direction: row;
  justify-self: start;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 12px;
  padding-left: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.lots {
  display: block;
  margin: 0 24px;
  position: absolute;
  top: 937px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform:uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  flex-direction:column;
  width: 334px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  position:relative;
  height: 100%;
  width: 334px;
  min-height: 596px;
}

/*.card_type_film {
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-size: cover;
  background-position: center;
}*/

.card__overlay {
  display: block;
  position: absolute;
  z-index: 0;
}

.card__title {
  z-index: 1;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline solid;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 23.48px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 0;
  position: relative;
  top: 1057px;
}

.about__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  justify-self: center;
  align-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  min-height: 180px;
  top: 1505px;
}

.footer__address {
  display: block;
  min-width: 240px;
  padding-left: 50px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  justify-self: start;
}

.footer__menu {}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {}

.footer__menu-link {
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 48px;
}

.footer__social-list-item {
  
}

.footer__social-link {}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
