body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 32px;
  list-style:circle;
  text-underline-offset: 3px;
}

.header__links-list-item .link_active {
  text-decoration: none;
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  text-transform:lowercase;
}

.header__logo { 
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  padding-left: 2px;
}

.address {
  display: block;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  margin-right: 34px;
  text-underline-offset: 3.3px;
}

.cover {
  display: block;
  position: relative;
  background-image: url(../images/cover.jpg);
  width: 1100px;
  min-height: 757px;
  background-position: center;
  background-size: cover;
  margin-bottom: 180px;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: #000000;
  opacity: 60%;
}

.cover__title {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  line-height: 115px;
  text-transform: uppercase;
  padding: 165px 50px 88px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-left: 32px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.cover__description-text {
  display: flex;
  align-self: center;
  justify-self: start;
  width: 637px;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  display: block;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 28px;
  border: 1px solid #ffffff;
  background-color: transparent;
  z-index: 1;
  padding: 11px 31px;
}

.lots {
  display: block;
  margin: 0 24px 120px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform:uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  flex-direction:column;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  position:relative;
  height: 100%;
}

.card_type_background {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 1;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline solid;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  line-height: 23.48px;
  text-transform: lowercase;
  margin-left: 40px;
  margin-top: 30px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  padding-top: 35px;
  margin: 35px 46px;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin-bottom: 33px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
  margin-top: 136px;
  margin-bottom: 76px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 82px;
}

.footer__address {
  justify-self: center;
  margin-top: 1px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform:lowercase;
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 3.3px;
}

.footer__social-list {
  display: flex;
  justify-self: center;
  gap: 48px;
  padding-left: 30px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
